<h2>Agregar comentario</h2>

<% if user_signed_in? %>
  <%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
  <% else %>
    <p>You must <%= link_to "signup", new_user_registration_path %> or <%= link_to "login", new_user_session_path %> to leave a comment</p>

<% end %>
