<h1>Edit Article</h1>
 <%= simple_form_for(@article) do |f| %>
  <!-- [...] -->
  <div>
   <%= f.text_field :title %>
  </div>
  <div>
  <%= f.file_field :photo, as: :file %>
  </div>
  <div>
    <%= f.label :category_id %>
    <%= f.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id] }) %>
  </div>
  <div>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <!-- [...] -->
<% end %>


 <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
