<h1>
  <%= @article.title %>
</h1>

<% if @article.category.present? %>
  <p>
    Category: <b><%= @article.category.name %></b>
  </p>
<% end %>

<p>Author: <b><%= @article.user.username %></b></p>


<!-- FIX THIS CODE WITH CLOUDINARY DISPLAYING IMAGES IN VIEWS
    <%= cl_image_tag @article.photo.key, class:"photo"%>

    TEMPORARILY WILL RUN FOLLOWING LINE AS PLACEHOLDER -->
<%= cl_image_tag("cld-sample-3",
      width: 400, height: 300, crop: :fill) %>
<!-- <%= cl_image_tag @article.photo.key, class:"photo"%> -->

<p>
  <%= @article.body %>
</p>

<p>
  <%= link_to 'Edit', edit_article_path %> |
  <%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> |
                  <%= link_to 'Go Back', root_path %>
</p>

<hr>
<%= render 'comments/comment' %>


<%= render 'comments/form' %>
