<h1>
  <%= @article.title %>
</h1>

<%= cl_image_tag @article.photo.key, class:"photo"%>
<p>
  <%= @article.body %>
</p>

<p>
  <%= link_to 'Editar', edit_article_path %> |
  <%= link_to "Eliminar", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> |
                  <%= link_to 'Volver', root_path %>
</p>

<hr>
<%= render 'comments/comment' %>


<%= render 'comments/form' %>
