<div class="container">
    <h1>
      <%= @article.title %>
    </h1>
    <span>
      <%= @article.created_at %> |
      <% if @article.category.present? %>

          Category: <b><%= @article.category.name %></b>

      <% end %> |
       <% if @article.user_id.present? %>
        By: <b><%= @article.user.username %></b>
      <%end%>

    </span>
    <div>
      <!-- FIX THIS CODE WITH CLOUDINARY DISPLAYING IMAGES IN VIEWS-->
      <% if @article.photo.present? %>
        <%= cl_image_tag @article.photo.key, class:"photo"%>
      <% end %> |
    </div>


  <div class="trix-content"><%= @article.body %></div>

    <hr>


  <% if @article.user_id == current_user %>
    <p>
      <%= link_to 'Edit', edit_article_path %> |
      <%= link_to "Delete", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %> |

  <% end %>
   <%= link_to 'Go Back', root_path %>
    </p>

  <%= render 'comments/comment' %>


  <%= render 'comments/form' %>
</div>
